<li data-source="<%= track.audio.url %>" data-position="<%= track.position %>" id="minxtape-track-<%= track.position %>">
  <span class="fi-sound" id="minxtape-track-indicator-<%= track.position %>" style="display: none;"></span>
  <a href="#" class="trigger-track"><%= track.name %></a>
</li>
