<%= nested_form_for @mix, :html => {:multipart => true} do |f| %>
  <% if @mix.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mix.errors.count, "error") %> prohibited this mix from being saved:</h2>

      <ul>
      <% @mix.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  
  <!-- nested tracks form -->
  <%= f.fields_for :tracks do |track_form| %>
    <%= track_form.text_field :name %>
    <%= track_form.file_field :audio %>
    <%= track_form.link_to_remove "Remove this track" %>
  <% end %>
  <p><%= f.link_to_add "Add a track", :tracks, :class=>"success small button radius" %></p>
  
  <div class="actions">
    <%= f.submit 'Save', :class=>"button radius" %>
  </div>
<% end %>
