<div class="row small-up-3 pad">
  <div class="column">
    <%= image_tag "tape.jpg" %>
  </div>
  <div class="column">
    <% if user_signed_in? %>
      <%= link_to "+ Create a Mix Tape", new_user_mix_path(current_user), class: "button new-mix success" %>
    <% elsif %>
      <p>A new way to share music. Create mix tapes from your own music files.</p>
    <% end %>
  </div>
</div>

<div class="row small-up-3 mix-list">
  <% @mixes.each do |mix| %>
    <div class="column">
      <article style="background-image: url(<%= mix.art.thumb %>);" class="mix">
        <a href="<%= mix_path(mix) %>">
          <header>
            <h1><%= mix.title %></h1>
          </header>
        </a>
      </article>
      <% if user_signed_in? && (mix.user == current_user) %>
        <ul class="mix-actions">
          <li><%= link_to "Edit", edit_mix_path(mix), class: "small button" %></li>
          <li><%= button_to "Destroy", mix, method: :delete, data: { confirm: "Are you sure?" }, class: "small button alert" %></li>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>
