<h1>Listing mixes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mixes.each do |mix| %>
  <tr>
    <td><%= mix.title %></td>
    <td><%= mix.description %></td>
    <td><%= link_to 'Show', mix %></td>
    <td><%= link_to 'Edit', edit_mix_path(mix) %></td>
    <td><%= link_to 'Destroy', mix, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<% if user_signed_in? %>
  <%= link_to 'New Mix', new_user_mix_path(current_user.id), :class => 'button' %>
<% end %>
