<div id="logo">
  <%= image_tag("tape.jpg", width: "270") %>  
</div>
<% if user_signed_in? %>
  <%= link_to "+ Create a Super Awesome Mix", new_user_mix_path(current_user), class: "button new-mix success" %>
<% elsif %>
  Log in to make some mix tapes.
<% end %>

<div class="row small-up-2 medium-up-3 large-up-4 mix-list">
  <% @mixes.each do |mix| %>
    <div class="column">
      <article style="background-image: url(<%= mix.art.thumb %>);">
        <a href="<%= mix_path(mix) %>">
          <header>
            <h1><%= mix.title %></h1>
          </header>
        </a>
      </article>
      <% if user_signed_in? && (mix.user == current_user) %>
        <ul class="mix-actions">
          <li><%= link_to "Edit", edit_mix_path(mix), class: "small button" %></li>
          <li><%= button_to "Destroy", mix, method: :delete, data: { confirm: "Are you sure?" }, class: "small button alert" %></li>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>
