<div class="row pad">
  <div class="small-4 column">
    <%= image_tag "tape.jpg" %>
  </div>
  <div class="small-8 column">
    <% if user_signed_in? %>
      <%= link_to "+ Create a Mix Tape", new_user_mix_path(current_user), class: "button new-mix success" %>
    <% elsif %>
      <p>A new old school way to share music.<br><%= link_to "Log in", new_user_session_path %> or <%= link_to "Sign up", new_user_registration_path %> to get started.</p>
    <% end %>
  </div>
</div>

<div class="row small-up-2 mix-list">
  <% @mixes.each do |mix| %>
    <div class="column">
      <article style="background-image: url(<%= mix.art.thumb %>);" class="mix">
        <a href="<%= mix_path(mix) %>">
          <header>
            <h1><%= mix.title %></h1>
          </header>
        </a>
      </article>
    </div>
  <% end %>
</div>
