<ul class="breadcrumbs">
  <li class="unavailable"><%= link_to 'All Mixes', mixes_path %></li>
</ul>

<ul class="mix-list small-block-grid-4">
<% @mixes.each do |mix| %>
  <li>
    <%= image_tag mix.art.square %>
    <h2><%= link_to mix.title, mix %></h2>
    <p><%= mix.description %></p>
    <% if user_signed_in? && (mix.user_id = current_user.id) %>
      <span><%= link_to 'Edit', edit_mix_path(mix) %></span>
      | <span><%= link_to 'Destroy', mix, method: :delete, data: { confirm: 'Are you sure?' } %></span>
    <% end %>
  </li>
<% end %>
</ul>

<br />
