<p id="notice"><%= notice %></p>

<h1><%= @mix.title %></h1>
  
<p><%= @mix.description %></p>

<ul class="track-list">
<%= render(@mix.tracks) || 'This tape is blank.' %>
</ul>

<%= link_to 'Edit', edit_mix_path(@mix) %> |
<%= link_to 'Back', mixes_path %>
