<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @mix.title %>
</p>

<p>
  <b>Description:</b>
  <%= @mix.description %>
</p>

<p>
  <b>User:</b>
  <%= @mix.user_id %>
</p>


<%= link_to 'Edit', edit_mix_path(@mix) %> |
<%= link_to 'Back', mixes_path %>
