<% content_for :title, @mix.title + ' • MinxTape' %>

<% content_for :breadcrumbs do %>
  <li><%= link_to 'All Mixes', mixes_path %></li>
  <li class="unavailable">
    <span class="show-for-sr">Current: </span> <%= @mix.title %>
  </li>
<% end %>

<article style="background-image: url(<%= @mix.art.thumb %>);" class="mix">
  <header>
    <h1><%= @mix.title %></h1>
    <p><%= @mix.description %></p>
    <% if user_signed_in? && (@mix.user == current_user) %>
      <div class="admin-actions">
        <%= link_to '<i class="fi-pencil"></i>'.html_safe, edit_mix_path(@mix), class: "button " %>
        <%= link_to '<i class="fi-trash"></i>'.html_safe, @mix, method: :delete, class: "button alert", data: { confirm: "Are you sure?" } %>
      </div>
    <% end %>
  </header>
  <div class="audio-player-wrapper">
    <audio controls preload="metadata" id="minxtape-player" data-position="1">
      <source src="<%= @tracks.first.audio.url %>" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
  </div>
  <ul class="track-list">
    <%= render @tracks %>
  </ul>
  <div class="overlay"></div>
</article>
