<% content_for :title, @mix.title + ' - MinxTape' %>

<% content_for :breadcrumbs do %>
  <li><%= link_to 'All Mixes', mixes_path %></li>
  <li class="unavailable">
    <span class="show-for-sr">Current: </span> <%= @mix.title %>
  </li>
<% end %>

<article style="background-image: url(<%= @mix.art.thumb %>);" class="mix">
  <header>
    <h1><%= @mix.title %></h1>
    <p><%= @mix.description %></p>
  </header>
  <div class="row">
    <div class="medium-6 medium-push-6 columns">
      <div class="audio-player">
        <%= render partial: "player", collection: @tracks, as: :track %>
      </div>
    </div>
    <div class="medium-6 medium-pull-6 columns">
      <ul class="track-list">
        <%= render @tracks %>
      </ul>
    </div>
  </div>
  <div class="overlay"></div>
</article>

<div class="row column pad">
  <% if user_signed_in? && (@mix.user == current_user) %>
    <%= link_to 'Edit', edit_mix_path(@mix), class: "button " %>
    <%= link_to 'Destroy', @mix, method: :delete, class: "button alert", data: { confirm: "Are you sure?" } %>
  <% end %>
</div>
