<% content_for :title, @mix.title + ' | MinxTape' %>

<ul class="breadcrumbs">
  <li><%= link_to 'All Mixes', mixes_path %></li>
  <li class="unavailable"><a href="#"><%= @mix.title %></a></li>
</ul>

<div class="row">
  <div class="large-10 columns">
    <article style="background-image: url(<%= @mix.art.thumb %>);">
      <header>
        <h1><%= @mix.title %></h1>
        <p><%= @mix.description %></p>
      </header>
      <ul class="track-list">
        <%= render @tracks %>
      </ul>
    </article>
  </div>
  <div class="large-2 columns">
    <% if user_signed_in? && (@mix.user == current_user) %>
      <%= link_to 'Edit', edit_mix_path(@mix), :class => "button radius" %>
      <%= link_to 'Destroy', @mix, method: :delete, :class => "button radius alert", data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>
