<p id="notice"><%= notice %></p>

<article style="background-image: url(<%= @mix.art.thumb %>);">
  <h1><%= @mix.title %></h1>
  <p><%= @mix.description %></p>
</article>

<ul class="track-list">
<%= render(@mix.tracks) || 'This tape is blank.' %>
</ul>

<%= link_to 'Edit', edit_mix_path(@mix) %> |
<%= link_to 'Back', mixes_path %>
