<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

<nav class="top-bar" id="responsive-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><%= link_to 'MinxTape', root_path, class: "top-bar-title-link" %></li>
<!--       <li>
        <a href="#">One</a>
        <ul class="menu vertical">
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
        </ul>
      </li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li> -->
    </ul>
  </div>
  <div class="top-bar-right">
    <% if user_signed_in? %>
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <%= link_to current_user.email, "#" %>
          <ul class="menu vertical">
            <li><%= link_to "Edit profile", edit_user_registration_path %></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
      <% else %>
      <ul class="menu">
        <li><%= link_to "Log in", new_user_session_path, class: "button top-bar-login-link" %></li>
        <li><%= link_to "Sign up", new_user_registration_path, class: "button" %></li>
      </ul>
    <% end %>
  </div>
</nav>
