<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "MinxTape" %></title> 

    <%= stylesheet_link_tag "application" %>
    <link href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <script type="text/javascript">
      if (window.location.hash && window.location.hash == '#_=_') {
          window.location.hash = '';
      }
    </script>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render "shared/navigation" %>

    <%= render "shared/alerts" %>

    <% if content_for?(:breadcrumbs) %>
      <div class="row">
        <div class="large-12 columns">
          <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">

              <%= yield :breadcrumbs %> 

            </ul>
          </nav>
        </div>
      </div>
    <% end %>

    <div class="row main-content">
      <div class="large-12 columns">

        <%= yield %>

      </div>
    </div>
    
    <%= render "shared/footer" %>

  </body>
</html>
